@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-gradient-to-br from-gray-800 to-gray-900 bg-black;
}

html,
body {
    @apply text-text;
}

@layer utilities {
    .layout {
        /*max-width: 50rem; !* 800px *!*/
        /*max-width: 68.75rem; !* 1100px *!*/
        max-width: 75rem; /* 1200px */
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .link-underline {
        @apply text-link bg-gradient-to-r from-link-200 to-link-400
        bg-no-repeat
        [background-position:0_106%] [background-size:100%_0.12em]
        motion-safe:transition-all motion-safe:duration-75
        hover:[background-size:100%_94%] hover:text-darker
        focus:[background-size:100%_94%];
    }

    .animate-pause {
        animation-play-state: paused;
    }
}
